<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/png" href="https://img.icons8.com/color/344/naruto.png">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>

</head>
<body>
   
    
        @RenderBody()
    

</body>
</html>
